body {
  background-color: black;
}

.img {
  border-radius: 50%;
}

.img-container {
  border-radius: 50%;
  border: 4px solid blue;
  box-shadow: 5px 10px #969696;
  width: fit-content;
  /* background-image: url('./fakePersonSmiling.png'); */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4%;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 5px 10px #969696;
  border: 4px solid blue;
  padding: 4%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  width: 20%;
}

.prevnext {
  border-radius: 12px;
  box-shadow: 2px 4px #969696;
}