body {
  background-color: black;
  color: white;
}

.img {
  border-radius: 50%;
}

.img-container {
  border-radius: 50%;
  border: 4px solid blue;
  box-shadow: 5px 10px #969696;
  width: fit-content;
  /* background-image: url('./fakePersonSmiling.png'); */
}

.img-animation-right {
  /* animation-name: slideinright; */
  animation-name: fade-in;
  animation-duration: 1s;
}

.img-animation-left {
  animation-name: slideinleft;
  animation-duration: 1s;
}

.img-animation-top {
  animation-name: slideintop;
}

@keyframes slideinright {
  from {
    margin-left: 60%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 15%;
  }
}

@keyframes slideinleft {
  from {
    margin-right: 60%;
    width: 200%;
  }

  to {
    margin-right: 0%;
    width: 15%;
  }
}

@keyframes slideintop {
  from {
    margin-top: 60%;
    width: 200%;
  }

  to {
    margin-top: 0%;
    width: 20%;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4%;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 5px 10px #969696;
  border: 4px solid blue;
  padding: 4%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1%;
  width: 20%;
}

.prevnext {
  border-radius: 12px;
  box-shadow: 2px 4px #969696;
  transition: .2s;
}

.prevnext:hover {
  transform: scale(1.20);
}